<header class="tf-top">
    <div class="tf-top-inner">
        <a href="{{ url_for('portfolio_home') }}" class="tf-exit" title="Portfolio">←</a>
        <span class="tf-wordmark">TextForge</span>
        <nav class="tf-nav" aria-label="TextForge sections">
            <a href="{{ url_for('ai_tool_page') }}" class="tf-nav-link {% if request.endpoint == 'ai_tool_page' %}is-on{% endif %}">Intro</a>
            <a href="{{ url_for('ai_tool_studio') }}" class="tf-nav-link {% if request.endpoint == 'ai_tool_studio' %}is-on{% endif %}">Studio</a>
            <a href="{{ url_for('ai_tool_presets') }}" class="tf-nav-link {% if request.endpoint == 'ai_tool_presets' %}is-on{% endif %}">Presets</a>
            <a href="{{ url_for('ai_tool_docs') }}" class="tf-nav-link {% if request.endpoint == 'ai_tool_docs' %}is-on{% endif %}">API</a>
        </nav>
    </div>
</header>
